<?xml version="1.0"?>
<!--
/**
 * config.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.nickolasburr.com/magento/extensions/1.x/magecroncloudfunctions/LICENSE.txt
 *
 * @package        NickolasBurr_MageCronCloudFunctions
 * @copyright      Copyright (C) 2018 Nickolas Burr <nickolasburr@gmail.com>
 * @license        MIT License
 */
-->
<config>
    <modules>
        <NickolasBurr_MageCronCloudFunctions>
            <version>1.0.1</version>
        </NickolasBurr_MageCronCloudFunctions>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magecroncloudfunctions after="Mage_Adminhtml">NickolasBurr_MageCronCloudFunctions</magecroncloudfunctions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <global>
        <helpers>
            <magecroncloudfunctions>
                <class>NickolasBurr_MageCronCloudFunctions_Helper</class>
            </magecroncloudfunctions>
        </helpers>

        <blocks>
            <magecroncloudfunctions>
                <class>NickolasBurr_MageCronCloudFunctions_Block</class>
            </magecroncloudfunctions>
        </blocks>

        <models>
            <magecroncloudfunctions>
                <class>NickolasBurr_MageCronCloudFunctions_Model</class>
            </magecroncloudfunctions>
        </models>
    </global>

    <default>
        <magecroncloudfunctions>
            <general>
                <enable_module>0</enable_module>
                <gcp_project></gcp_project>
                <cloud_functions_region>us-central1</cloud_functions_region>
                <auth_token></auth_token>
            </general>
        </magecroncloudfunctions>
    </default>
</config>
